<div class="wrap">
    <div class="footer-links">
        <a href="/about">About</a>
        <a href="/about/problem-space">Problem Space</a>
        <a href="/about/details">Project Details</a>
        <a href="/about/team">Team</a>
        <a href="/thrusts">Thrusts</a>
        <a href="/engage">Engage</a>
        <a href="/news">News</a>
        <a href="/connect">Connect</a>
    </div>
    <span class="mono">© {{ site.time | date: '%Y' }} The PESO Project</span>
    <a href="https://science.osti.gov/ascr" target="_blank" rel="noopener">
        <img src="/images/doe-logo-white.png" alt="U.S. Department of Energy">
    </a>
</div>
